API_ID=
API_HASH=
BOT_TOKEN=
LOGGER_ID=
MONGO_DB_URI=
OWNER_ID=
STRING_SESSION=

# Dynamic Bot Details & Links
BOT_NAME=sejal 𝑴𝒖𝒔𝒊𝒄 𝑩𝒐𝒕
BOT_USERNAME=MAHI_MUSICSBOT
OWNER_USERNAME=II_ALONE_BOY_Il
ASSUSERNAME=II_ALONE_BOY_Il
SUPPORT_CHAT=https://t.me/Il_ALONE_BOY_II
SUPPORT_CHANNEL=https://t.me/II_MUSIC_BOT_UPDATE_II
UPDATES_CHANNEL=https://t.me/II_MUSIC_BOT_UPDATE_II
REPO_URL=https://t.me/+tkKtEN7dPFpmMjU1
UPSTREAM_REPO=https://github.com/spicycodez/DeluluMusic
UPSTREAM_BRANCH=main

# Custom Bot Media & Image URLs
START_IMG_URL=https://litter.catbox.moe/xr9jf82b2umeke7j.jpg
PING_IMG_URL=https://litter.catbox.moe/xyedznhk80hmial2.mp4
PLAYLIST_IMG_URL=https://graph.org/file/4fb9a698630aa5b47be05-060979d72b7752fc8f.jpg
STATS_IMG_URL=https://graph.org/file/4fb9a698630aa5b47be05-060979d72b7752fc8f.jpg
STREAM_IMG_URL=https://graph.org/file/4fb9a698630aa5b47be05-060979d72b7752fc8f.jpg
SOUNCLOUD_IMG_URL=https://graph.org/file/4fb9a698630aa5b47be05-060979d72b7752fc8f.jpg
YOUTUBE_IMG_URL=https://graph.org/file/4fb9a698630aa5b47be05-060979d72b7752fc8f.jpg
SPOTIFY_ARTIST_IMG_URL=https://graph.org/file/4fb9a698630aa5b47be05-060979d72b7752fc8f.jpg
SPOTIFY_ALBUM_IMG_URL=https://graph.org/file/4fb9a698630aa5b47be05-060979d72b7752fc8f.jpg
SPOTIFY_PLAYLIST_IMG_URL=https://graph.org/file/4fb9a698630aa5b47be05-060979d72b7752fc8f.jpg
