API_ID=
API_HASH=
BOT_TOKEN=
LOGGER_ID=
MONGO_DB_URI=
OWNER_ID=
STRING_SESSION=

# Optional JioSaavn API Configuration
SAAVN_API_URL=https://saavn.dev/api/search/songs
# JIOSAAVN_API_URL=https://jiosaavn-api.vercel.app/api/search
